body{
    text-align: center;
    margin: 0;
}
h1{
    color: #4E944F;
    font-family: 'Whisper', cursive;
    font-size: 6rem;
}
h2{
    color: #4E944F;
    font-family: 'Ubuntu', sans-serif;
}
h3{
    color: #4E944F;
    font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Cormorant Garamond', serif;
    width: 30%;
    line-height: 2;
    margin: auto;
}
hr{
    border: dotted #E9EFC0 6px;
    border-bottom: none;
    width: 4%;
}
a{
    color: #4E944F;
    margin: 30px;
}
.h2s{
    color: #4E944F;
    font-size: 2.5rem;
    margin: 50px;
}
.topcon{
    background-color: #E9EFC0;
    padding-top: 50px;
    width: 100%;
}
#rock1{
    width: 27rem;
    position: relative;
    size: 10%;
}
#rock2{
    width: 30rem
}
.cloud1{
    width: 12rem;
    position: absolute;
    right: 120px;
}
.cloud2{
    width: 12rem;
    position: absolute;
    left: 80px;
    bottom: 280px;
}
.myimage{
    width: 10rem;
    margin-top: 60px;
}
.photoshop{    
    width: 10rem;
    float: right;
}
.mobile{
    width: 10rem;
    float: left;
}
.middle{
    width: 50%;
    margin: 0 auto 60px;
}
.contactme{
    margin: 40px;
    margin-bottom: 100px;
}
.bottom{
    background-color: #E9EFC0;
    padding: 60px;
}
.btn {
    background: #9cd68d;
    background-image: -webkit-linear-gradient(top, #9cd68d, #83BD75);
    background-image: -moz-linear-gradient(top, #9cd68d, #83BD75);
    background-image: -ms-linear-gradient(top, #9cd68d, #83BD75);
    background-image: -o-linear-gradient(top, #9cd68d, #83BD75);
    background-image: linear-gradient(to bottom, #9cd68d, #83BD75);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #4E944F;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #5ca85c;
    background-image: -webkit-linear-gradient(top, #5ca85c, #529e52);
    background-image: -moz-linear-gradient(top, #5ca85c, #529e52);
    background-image: -ms-linear-gradient(top, #5ca85c, #529e52);
    background-image: -o-linear-gradient(top, #5ca85c, #529e52);
    background-image: linear-gradient(to bottom, #5ca85c, #529e52);
    text-decoration: none;
  }
  .copy{
      color: #4E944F;
      height: 5px;
      margin-top: 20px;
  }